Source: data-provider-master
Section: utils
Priority: extra
Maintainer: Sung-jae Park <nicesj.park@samsung.com>, Youngjoo Park <yjoo93.park@samsung.com>
Build-Depends: debhelper (>= 5), libail-0-dev, dlog-dev, libaul-1-dev, libglib2.0-dev, libbundle-dev, libecore-dev, libslp-setting-dev, libecore-dev, libevas-dev, libcontext-engine-dev
Standards-Version: 0.1.0

Package: com.samsung.data-provider-master
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: data provider - master
  Manages the data provider slaves.
  Communicates with the homescreen(widget viewer).

Package: com.samsung.data-provider-master-dbg
Section: debug
Architecture: any
Depends: com.samsung.data-provider-master (= ${Source-Version}), ${misc:Depends}
Description: data provider - master, debugging information included
