# NOTE:
# This description is not revised by the system team.
# So I cannot guarantees these are OK or not.

[Unit]
Description=Data Provider daemon
After=xorg.target

[Kill]
KillSignal=SIGTERM

[Exec]
Environment=BUFMGR_LOCK_TYPE="once"
Environment=BUFMGR_MAP_CACHE="true"
Environment=DEBUG_PROVIDER="false"
Environment=USE_SHM_FOR_LIVE_CONTENT="pixmap"
StandardInput=/dev/null
StandardOutput=/dev/null
StandardError=/dev/null

[Service]
Type=forking
ExecStartPre=
ExecStart=/usr/bin/data-provider-master
ExecStop=kill -TERM `cat /tmp/.master.pid`
PIDFile=/tmp/.master.pid
RestartSec=1

[Install]
WantedBy=tizen-middleware.target
