[Socket]
SocketUser=system
SocketGroup=system
ListenStream=/tmp/.data-provider-master-client.socket
SocketMode=0666
SmackLabelIPIn=data-provider-master::client
SmackLabelIPOut=@

Service=data-provider-master.service

[Unit]
Wants=data-provider-master.target
Before=data-provider-master.target

[Install]
WantedBy=sockets.target
